Repository ElementsProject/lightning, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cdecker, @ZmnSCPxj, @wythe

common: change default network to mainnet for all
  common/configdir.c
Owners: none

common/iso4217: make find_iso4217 a little more usable.
  common/iso4217.c
  common/iso4217.h
  devtools/bolt12-cli.c
Owners: none

common/blindedpath: fix type of enctlv.
  common/blindedpath.c
Owners: none

bolt11: expose routine to parse bolt11 string except signature.
  common/bolt11.c
  common/bolt11.h
Owners: none

db: offer table.
  wallet/db.c
  wallet/db_postgres_sqlgen.c
  wallet/db_sqlite3_sqlgen.c
  wallet/statements_gettextgen.po
  wallet/wallet.c
  wallet/wallet.h
Owners: @cdecker

sendpay: optional argument to link local offer.
  common/jsonrpc_errors.h
  lightningd/pay.c
  wallet/db.c
  wallet/wallet.c
  wallet/wallet.h
Owners: @cdecker

invoice: handle bolt12 strings if EXPERIMENTAL_FEATURES.
  common/json.c
  common/json.h
  lightningd/invoice.c
  wallet/db_postgres_sqlgen.c
  wallet/db_sqlite3_sqlgen.c
  wallet/invoices.c
  wallet/statements_gettextgen.po
  wallet/wallet.h
Owners: @wythe, @cdecker, @ZmnSCPxj

cleanups: feedback from Christian Decker review.
  common/bolt12.h
  devtools/bolt12-cli.c
  doc/lightning-createinvoice.7
  doc/lightning-createinvoice.7.md
  lightningd/invoice.c
  lightningd/offer.c
  lightningd/pay.c
  plugins/libplugin-pay.c
  plugins/pay.c
  tests/test_pay.py
  tests/test_plugin.py
  wallet/db.c
  wallet/db_postgres_sqlgen.c
  wallet/db_sqlite3_sqlgen.c
  wallet/statements_gettextgen.po
  wallet/wallet.c
  wallet/wallet.h
Owners: @cdecker

invoice: add an optional local_offer_id.
  lightningd/invoice.c
  lightningd/test/run-invoice-select-inchan.c
  wallet/db.c
  wallet/db_postgres_sqlgen.c
  wallet/db_sqlite3_sqlgen.c
  wallet/invoices.c
  wallet/invoices.h
  wallet/statements_gettextgen.po
  wallet/test/run-wallet.c
  wallet/wallet.c
  wallet/wallet.h
Owners: @cdecker, @ZmnSCPxj

plugins/pay: allow bolt12 invoices (EXPERIMENTAL_FEATURES).
  plugins/Makefile
  plugins/pay.c
Owners: none

pay, wallet: rename internal `bolt11` vars to `invstring`.
  lightningd/pay.c
  plugins/keysend.c
  plugins/libplugin-pay.c
  plugins/libplugin-pay.h
  plugins/pay.c
  tests/test_plugin.py
  wallet/db_postgres_sqlgen.c
  wallet/db_sqlite3_sqlgen.c
  wallet/statements_gettextgen.po
  wallet/wallet.c
  wallet/wallet.h
Owners: @cdecker

lightningd: add low-level offer interfaces.
  common/jsonrpc_errors.h
  lightningd/Makefile
  lightningd/offer.c
Owners: none

lightningd: createinvoice low-level invoice creation command.
  common/jsonrpc_errors.h
  doc/Makefile
  doc/index.rst
  doc/lightning-createinvoice.7
  doc/lightning-createinvoice.7.md
  lightningd/invoice.c
  lightningd/test/run-invoice-select-inchan.c
  wallet/db_postgres_sqlgen.c
  wallet/db_sqlite3_sqlgen.c
  wallet/invoices.c
  wallet/statements_gettextgen.po
Owners: @cdecker, @ZmnSCPxj

.github/CODEOWNERS:

# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own. When someone
# with admin or owner permissions has enabled required reviews, they
# also can optionally require approval from a code owner before the
# author can merge a pull request in the repository.

wallet/                 @cdecker
*.py                    @cdecker

wallet/invoices.*       @ZmnSCPxj
plugins/multifundchannel.c @ZmnSCPxj
doc/BACKUP.md           @ZmnSCPxj @cdecker

common/param.*          @wythe
common/json.*           @wythe
common/json_tok.*       @wythe
common/wallet_tx.*      @wythe

# See https://help.github.com/articles/about-codeowners/ for more
# information
