Repository ElementsProject/lightning, pull requests merged in 2018-04, with the labels that each got.

#1310 Enable foreign key constraints when running with --daemon
  wallet/db.c
Labels: bug, wallet

#1263 Add cross-compile instructions for Raspberry Pi
  doc/INSTALL.md
Labels: needs-rebase

#1326 pytest: Use a dict to pass options to lightningd
  tests/test_lightningd.py
  tests/utils.py
Labels: testing

#1329 topology: Two off-by-one error when catching up with the blockchain
  lightningd/chaintopology.c
  wallet/wallet.c
Labels: bug, db, wallet

#1342 jsonrpc: Pretty-print the json results
  common/json.c
  common/test/run-json.c
Labels: json-rpc

#1440 master: Move the gossipd initialization after the other inits
  gossipd/gossip.c
  gossipd/gossip_wire.csv
  lightningd/gossip_control.c
  lightningd/gossip_control.h
  lightningd/lightningd.c
  lightningd/test/run-find_my_path.c
Labels: Work in Progress, crash, gossip
