Repository ElementsProject/lightning, pull requests merged in 2018-02, with the labels that each got.

#967 Weekly cleanups
  wallet/walletrpc.c
Labels: cleanup

#964 JSON-RPC: Add funds in channels to `listfunds`
  wallet/walletrpc.c
Labels: json-rpc

#974 gossip: Fix up some comments on PR #955
  lightningd/gossip_control.c
Labels: cleanup

#965 JSON-RPC: Fix unquoted error string when parser fails
  lightningd/jsonrpc.c
Labels: json-rpc

#1019 wallet: Add check that wallet matches the network on startup
  lightningd/lightningd.c
  lightningd/test/run-find_my_path.c
  wallet/wallet.c
  wallet/wallet.h
Labels: wallet

#1050 log: fix ltmp crash.
  lightningd/log.c
Labels: bug

#1081 wallet: Fix an off by one error in dev-listaddrs
  wallet/walletrpc.c
Labels: json-rpc, wallet
