Repository ElementsProject/lightning, pull requests merged in 2019-01, with the labels that each got.

#2235 Release of 0.6.3-rc1: hastened by 0-HTLC crash reports.
  CHANGELOG.md
Labels: release

#2276 plugin: Increase manifest timeout to 60 seconds
  contrib/plugins/fail/failtimeout.py
  lightningd/plugin.c
Labels: plugin, valgrind

#2280 libplugin: quick fix for bad JSON produced by plugins on bad paramters.
  common/param.c
  tests/test_plugin.py
Labels: bug, crash, plugin
