Repository ElementsProject/lightning, pull requests merged in 2019-11, with the labels that each got.

#3221 Release Process Note Updates
  doc/MAKING-RELEASES.md
Labels: docs

#3244 lightningd: obscure sensitive bitcoin args when bitcoind unreachable.
  lightningd/bitcoind.c
Labels: bitcoind, logging

#3233 Fix bad htlc add during reconnect
  channeld/full_channel.c
  tests/test_connection.py
Labels: bug, channeld

#3247 gossipd: allow node_announcements and channel_announcements with unsu…
  gossipd/routing.c
Labels: gossip, protocol

#3255 devtools: fix mkcommit crash.
  devtools/mkcommit.c
Labels: crash

#3257 pytest: fix `make pytest`
  .travis/build.sh
  Makefile
Labels: testing

#3258 dev: add option to prevent HTLC timeouts.
  lightningd/lightningd.c
  lightningd/lightningd.h
  lightningd/options.c
  lightningd/peer_htlcs.c
Labels: testing

#3262 gossipd: don't discard node_announcements with old timestamps.
  gossipd/routing.c
Labels: bug, gossip

#3168 Cleanup chainparams duplication
  common/wallet_tx.c
  lightningd/bitcoind.c
  lightningd/bitcoind.h
  lightningd/chaintopology.c
  lightningd/channel.c
  lightningd/closing_control.c
  lightningd/hsm_control.c
  lightningd/invoice.c
  lightningd/json.c
  lightningd/lightningd.c
  lightningd/lightningd.h
  lightningd/onchain_control.c
  lightningd/opening_control.c
  lightningd/options.c
  lightningd/peer_control.c
  lightningd/peer_htlcs.c
  lightningd/plugin.c
  lightningd/test/run-invoice-select-inchan.c
  lightningd/test/run-jsonrpc.c
  wallet/test/run-wallet.c
  wallet/walletrpc.c
Labels: Work in Progress

#3263 lightningd: fix uninitialized variable
  lightningd/lightningd.c
Labels: bug

#3273 gossipd: don't crash if we have > 7000 stale short_channel_ids.
  gossipd/seeker.c
Labels: crash, gossip

#3280 openchannel hook: add new `close_to` field
  doc/PLUGINS.md
  lightningd/opening_control.c
  openingd/opening_wire.csv
  openingd/openingd.c
  tests/plugins/accepter_close_to.py
  tests/test_connection.py
Labels: openingd

#3286 channeld: allow transient negative balance.
  channeld/full_channel.c
Labels: channeld
