Repository ElementsProject/lightning, pull requests merged in 2019-12, with the labels that each got.

#3308 lightningd: fix reference to out-of-scope var.
  lightningd/options.c
Labels: bug, cleanup

#3311 doc: feerate is not obvious, refer to fundchannel documentation:
  doc/lightning-fundchannel_start.7
  doc/lightning-fundchannel_start.7.md
Labels: docs

#3324 doc: add 'id' to rpc_command
  doc/PLUGINS.md
Labels: docs, plugin

#3356 travis: Make python environment selection less picky
  .travis/build.sh
Labels: travis

#3369 funding: enable push_msat
  contrib/pyln-client/pyln/client/lightning.py
  doc/lightning-fundchannel.7
  doc/lightning-fundchannel.7.md
  doc/lightning-fundchannel_start.7
  doc/lightning-fundchannel_start.7.md
  lightningd/opening_control.c
  plugins/fundchannel.c
  tests/test_connection.py
Labels: funding

#3385 pyln: Bump versions of pyln-client and pyln-testing
  contrib/pyln-client/pyln/client/__init__.py
  contrib/pyln-testing/pyln/testing/__init__.py
Labels: pylightning, pyln
