Repository ElementsProject/lightning, pull requests merged in 2019-10, with the labels that each got.

#3126 channeld: reject wumbo payments with more style.
  channeld/channeld.c
  channeld/full_channel.c
  lightningd/peer_htlcs.c
Labels: channeld

#3133 travis: Force flaky on travis, they are becoming really annoying
  .travis/build.sh
Labels: testing, travis

#3145 common/features: only support a single feature bitset.
  CHANGELOG.md
  channeld/channeld.c
  common/features.c
  common/features.h
  common/test/run-features.c
  connectd/connect_wire.csv
  connectd/connectd.c
  connectd/connectd.h
  connectd/peer_exchange_initmsg.c
  doc/PLUGINS.md
  doc/lightning-listpeers.7
  doc/lightning-listpeers.7.md
  gossipd/gossipd.c
  gossipd/routing.c
  lightningd/channel_control.c
  lightningd/gossip_control.c
  lightningd/gossip_msg.c
  lightningd/gossip_msg.h
  lightningd/opening_control.c
  lightningd/peer_control.c
  lightningd/peer_control.h
  lightningd/test/run-invoice-select-inchan.c
  openingd/openingd.c
  tests/test_connection.py
  tests/test_gossip.py
  wallet/test/run-wallet.c
Labels: gossip, protocol

#3157 Makefile: fix static linking.
  Makefile
  configure
Labels: build

#3152 gossipd: push our own gossip messages harder.
  CHANGELOG.md
  channeld/channeld.c
  gossipd/gossip_generation.c
  gossipd/gossip_peerd_wire.csv
  gossipd/gossipd.c
  gossipd/gossipd.h
  gossipd/test/run-crc32_of_update.c
  lightningd/test/run-invoice-select-inchan.c
  lightningd/test/run-jsonrpc.c
  tests/test_misc.py
  wallet/test/run-wallet.c
Labels: bug, gossip

#3176 gossipd: don't crash if we're forced to discard corrupt gossip store.
  gossipd/routing.c
Labels: bug, gossip

#3181 Fix elements after the libwally upgrade
  bitcoin/tx.c
Labels: elements

#3179 Gossipd: make seeker more aggressive
  gossipd/seeker.c
Labels: bug, gossip

#3214 configure: fix FreeBSD which has sqlite3 in /usr/local
  configure
Labels: bsd, build
