Repository ElementsProject/lightning, pull requests merged in 2019-06, with the labels that each got.

#2712 newaddr: fix return value for deprecated "address" field.
  tests/test_misc.py
  wallet/walletrpc.c
Labels: bug, json-rpc

#2717 Travis: set all vars inside build.sh, and increase parallelism for DEVELOPER=0
  .travis/build.sh
Labels: travis

#2704 pytest: fix test_hlcs_cltv_only_difference
  tests/test_pay.py
Labels: testing

#2716 configure: fix --reconfigure, improve style, set defaults in one place.
  configure
Labels: build

#2722 txfilter: Migrate the list of owned scriptPubKeys into a hashset
  wallet/txfilter.c
Labels: wallet

#2718 channeld: don't send feerate spam if we can't set it as high as we want.
  CHANGELOG.md
  channeld/channeld.c
  tests/test_connection.py
Labels: bug, eclair-compat, fee

#2723 gossip: bump version to remove lingering issues with master.
  common/gossip_store.h
  tests/test_gossip.py
Labels: bug

#2758 gossipd: truncate gossip_store.tmp for compaction.
  gossipd/gossip_store.c
  tests/test_gossip.py
Labels: bug, gossip

#2767 json-rpc: Disable `listtransactions` for the 0.7.1 release
  CHANGELOG.md
  wallet/walletrpc.c
Labels: json-rpc

#2776 lightningd: fix occasional missing txid detection.
  lightningd/chaintopology.c
  lightningd/onchain_control.c
  lightningd/peer_control.c
  lightningd/peer_htlcs.h
  lightningd/test/run-invoice-select-inchan.c
  lightningd/watch.c
  lightningd/watch.h
  wallet/test/run-wallet.c
Labels: bug
