Repository ElementsProject/lightning, pull requests merged in 2020-10, with the labels that each got.

#4120 pytest: fix flaky test if one side hasn't processed close yet.
  tests/test_connection.py
Labels: testing

#4123 pytest: fix overzealous removal of directories on failure.
  contrib/pyln-testing/pyln/testing/fixtures.py
Labels: testing

#4101 pyln: Add logging handler that passes records to lightningd
  contrib/pyln-client/pyln/client/plugin.py
Labels: pyln, python

#4094 pyln: Plugin methods and hooks refuse to set results twice
  contrib/pyln-client/pyln/client/plugin.py
  contrib/pyln-client/tests/test_plugin.py
Labels: plugin, pyln

#4088 pyln: Add a fixture for createwallet
  contrib/pyln-testing/pyln/testing/utils.py
Labels: pyln, testing

#4122 lightningd: fix crash when we try to send fail_htlc msg to onchaind.
  lightningd/peer_htlcs.c
Labels: crash, onchaind

#4156 Makefile: fix bashism in NO_PYTHON
  Makefile
  wallet/Makefile
Labels: build, cleanup

#4155 gossmap: fix return of gossmap_xxx_has_feature, rename.
  common/gossmap.c
  common/gossmap.h
  plugins/libplugin-pay.c
Labels: cleanup
