Repository ElementsProject/lightning, pull requests merged in 2020-02, with the labels that each got.

#3491 Fix regression in hsmd for elements-based chains
  bitcoin/tx.c
  channeld/commit_tx.c
  common/initial_commit_tx.c
Labels: elements

#3500 Channel lockup corner case workaround
  channeld/full_channel.c
  lightningd/peer_control.c
  tests/test_connection.py
  tests/test_invoices.py
  tests/test_pay.py
Labels: Optech Make Me Famous!, channeld

#3510 plugins: libplugin don't insist on 'jsonrpc' field from lightningd.
  plugins/libplugin.c
Labels: pay-plugin, plugin

#3511 pay: fix crash when we paystatus too soon.
  plugins/pay.c
Labels: pay-plugin

#3520 lightningd: fix crash when plugin has been unloaded and we abort cmd.
  lightningd/jsonrpc.c
Labels: crash, plugin

#3530 wallet: fix null column access for pre-0.7.3 dbs.
  Makefile
  wallet/wallet.c
Labels: db
