Repository ElementsProject/lightning, pull requests merged in 2022-09, with the labels that each got.

#5574 pyln-client: allow 'msat' fields to be 'null'
  contrib/pyln-client/pyln/client/lightning.py
  tests/test_misc.py
Labels: bug

#5573 connectd: better diagnostics on invalid gossip_store entries.
  common/gossip_store.c
Labels: gossip

#5591 Fix for #5572 and #5565
  common/gossip_store.c
Labels: bug, gossip

#5595 lightningd: fix spurious leak report.
  lightningd/invoice.c
Labels: flake

#5593 gossmap: don't crash if we see a duplicate channel_announce.
  common/gossmap.c
Labels: crash, gossmap

#5601 connectd+: Flake/race fix for new channels
  channeld/channeld.c
  openingd/dualopend.c
  openingd/openingd.c
Labels: voodoo
