Repository ElementsProject/lightning, pull requests merged in 2023-11, with the labels that each got.

#6641 Add data field to RpcError
  cln-rpc/src/lib.rs
  cln-rpc/src/primitives.rs
Labels: rust

#6856 doc: update decode instruction for emergency.recover
  doc/lightning-decode.7.md
Labels: docs

#6876 lightningd: fix up deprecated `rest-port`, `rest-protocol`, `rest-host` and `rest-certs` option if we would otherwise fail.
  lightningd/options.c
  tests/plugins/clnrest-use-options.py
  tests/test_clnrest.py
Labels: plugin

#6884 Clnrest notifications remove msat
  common/json_stream.c
  lightningd/invoice.c
  lightningd/notification.c
  tests/test_clnrest.py
  tests/test_plugin.py
Labels: plugin
