Repository ElementsProject/lightning, pull requests merged in 2024-05, with the labels that each got.

#7287 pyln-client: pass through level parameter on command notifications.
  contrib/pyln-client/pyln/client/plugin.py
  tests/test_plugin.py
Labels: pyln

#7285 docker: Fix jq installation error for focal
  contrib/reprobuild/Dockerfile.focal
Labels: docker

#7299 doc: Updating installation instructions for python plugins
  doc/getting-started/getting-started/installation.md
Labels: docs

#7252 Ignore --ignore-fee-rates on mutual close, don't massively overpay with LDK nodes
  lightningd/closing_control.c
  tests/test_closing.py
  tests/test_connection.py
Labels: closingd

#7214 Use cross compile in dockerfile, fix arm32 support
  Dockerfile
  tools/build-release.sh
Labels: docker

#7351 docs: Update chat links
  README.md
Labels: docs
